/* 
    Document   : core
    Created on : 15/11/2013, 10:44:12 AM
    Author     : psistemas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background: url(bgd-body-1.png);
}

